<div
  class="w-screen h-40 bg-gradient-to-b from-gray-800 to-gray-700 flex items-end text-right"
  style="max-width: 300px"
>
  <div class="w-full py-5 px-6 text-6xl text-white font-thin">340.0</div>
</div>

<div class="w-full bg-gradient-to-b from-indigo-400 to-indigo-500">
  <div class="flex w-full">
    <app-calculator-button> C </app-calculator-button>
    <app-calculator-button> +/- </app-calculator-button>
    <app-calculator-button> % </app-calculator-button>
    <app-calculator-button isCommand> ÷ </app-calculator-button>
  </div>

  <div class="flex w-full">
    <app-calculator-button> 7 </app-calculator-button>
    <app-calculator-button> 8 </app-calculator-button>
    <app-calculator-button> 9 </app-calculator-button>
    <app-calculator-button isCommand> x </app-calculator-button>
  </div>

  <div class="flex w-full">
    <app-calculator-button> 4 </app-calculator-button>
    <app-calculator-button> 5 </app-calculator-button>
    <app-calculator-button> 6 </app-calculator-button>
    <app-calculator-button isCommand> - </app-calculator-button>
  </div>

  <div class="flex w-full">
    <app-calculator-button> 1 </app-calculator-button>
    <app-calculator-button> 2 </app-calculator-button>
    <app-calculator-button> 3 </app-calculator-button>
    <app-calculator-button isCommand> + </app-calculator-button>
  </div>

  <div class="flex w-full">
    <app-calculator-button> 0 </app-calculator-button>
    <app-calculator-button> . </app-calculator-button>
    <app-calculator-button isCommand isDoubledSize> = </app-calculator-button>
  </div>
</div>
