<div
  class="w-screen h-40 bg-gradient-to-b from-gray-800 to-gray-700 flex items-end text-right"
  style="max-width: 300px"
>
  <div class="w-full py-5 px-6 text-6xl text-white font-thin">
    <span class="text-4xl">50 +</span>
    <br />

    <span>340.0</span>
  </div>
</div>

<div class="w-full bg-gradient-to-b from-indigo-400 to-indigo-500">
  <div class="flex w-full">
    <app-calculator-button (onClick)="handleClick($event)"> C </app-calculator-button>
    <app-calculator-button (onClick)="handleClick($event)"> +/- </app-calculator-button>
    <app-calculator-button (onClick)="handleClick($event)"> % </app-calculator-button>
    <app-calculator-button (onClick)="handleClick($event)" isCommand> ÷ </app-calculator-button>
  </div>

  <div class="flex w-full">
    <app-calculator-button (onClick)="handleClick($event)"> 7 </app-calculator-button>
    <app-calculator-button (onClick)="handleClick($event)"> 8 </app-calculator-button>
    <app-calculator-button (onClick)="handleClick($event)"> 9 </app-calculator-button>
    <app-calculator-button (onClick)="handleClick($event)" isCommand> x </app-calculator-button>
  </div>

  <div class="flex w-full">
    <app-calculator-button (onClick)="handleClick($event)"> 4 </app-calculator-button>
    <app-calculator-button (onClick)="handleClick($event)"> 5 </app-calculator-button>
    <app-calculator-button (onClick)="handleClick($event)"> 6 </app-calculator-button>
    <app-calculator-button (onClick)="handleClick($event)" isCommand> - </app-calculator-button>
  </div>

  <div class="flex w-full">
    <app-calculator-button (onClick)="handleClick($event)"> 1 </app-calculator-button>
    <app-calculator-button (onClick)="handleClick($event)"> 2 </app-calculator-button>
    <app-calculator-button (onClick)="handleClick($event)"> 3 </app-calculator-button>
    <app-calculator-button (onClick)="handleClick($event)" isCommand> + </app-calculator-button>
  </div>

  <div class="flex w-full">
    <app-calculator-button (onClick)="handleClick($event)"> 0 </app-calculator-button>
    <app-calculator-button (onClick)="handleClick($event)"> . </app-calculator-button>
    <app-calculator-button (onClick)="handleClick($event)" isCommand isDoubledSize> = </app-calculator-button>
  </div>
</div>
